<!DOCTYPE html>
<!-- spappinit -->
<script src="../spappinit.js"></script>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" id="metaViewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Joiful</title>

    <!-- Bootstrap core CSS -->
    <link href="../assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../assets/lib/bootstrap/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
                
    <!-- Custom styles for this template -->
    <link href="../assets/common/css/spapp.css" rel="stylesheet">

    <!-- Angular-->
    <script src="../assets/lib/angular/angular.min.js"></script>
    
    <!-- jQuery UI-->
    <link href="../assets/lib/jquery/jquery-ui.min.css" rel="stylesheet">

    <!-- FastClick -->
    <script src="../assets/lib/fastclick/fastclick.js"></script>

    <!-- Cordova -->
    <script src="../cordova.js"></script>
    
  </head>

<body ng-app="spappApp">
    <div class="appcontainer" style="display:none" >

        <script>document.write(DynamicMenu("white", "black", "X", "SendUserHome()", "ADD TIP", false, "save", "Save()"));</script>

        <div class="container">

            <form class="form-signin">

                        <div class="scrollmenewheader scrollmenewbase">
                            <div style="padding-top:0px">
                                <div class="border-top" ng-include="'../assets/common/html/angJobListView.html'"></div>
                            </div>

                            <div id="CCSection" style="display:none">
                                <div class="row">
                                    <div class="col-xs-12" style="margin:0 auto;text-align:center;padding-top:10px;padding-bottom:10px">
                                        <h9>CREDIT CARD</h9>
                                    </div>
                                </div>

                                <div class="row noPadding border-bottom" style="margin-bottom:5px;">
                                    <div ng-controller="CreditCardListCtrl" style="margin-bottom:10px;">
                                        <div class="row noPadding" ng-repeat="x in CreditCardList">
                                            <div class="col-sm-12">
                                                <!-- ng-class="(x.PrimaryCreditCard) ? 'btn-white-selected' : 'btn-white'" -->
                                                <div style="padding:2px 2px 2px 2px; height:25px" id="cc{{$index}}" ng-click="ChangeLabelColor('ccRAD', $index, x.CreditCardAddress)" class="cc btn btn-sm btn-block btn-clear">
                                                    <input style="display:none" type="radio" id="radCC{{$index}}" ng-checked="(x.PrimaryCreditCard)" name="creditCard" value="{{x.CreditCardID}}">
                                                    <div class='ccRAD' id='ccRAD{{$index}}' style='border-radius:50%;display:table-cell;border:none;'><img ng-src='{{x.PrimaryCreditCard==true ? "../assets/common/images/selected.png" : "../assets/common/images/unselected-silver.png"}}' width='23' height='23' /></div>
                                                    <div style='padding-left:10px;display:table-cell;color:black;'>&nbsp;<span>{{x.CreditCardType}}:&nbsp;{{x.CreditCardNumber.slice(12)}}</span><span>&nbsp;{{x.CreditCardExpMonth}}/{{x.CreditCardExpYear}}</span></div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <div class="row" style="margin-bottom:5px;height:50px;padding-top:10px">
                                        <div style="margin:0 auto">
                                            <div class="col-xs-6" style="text-align:right;height:23px;padding-right:3px;padding-left:0px;padding-top:2px">Add Tip Amount:</div>
                                            <div class="col-xs-6" style="text-align:left;height:23px;padding-right:0px;padding-left:3px">
                                                <input type="text" id="txtGratuityAmount" style="width:75px;text-align:center" maxlength="6">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </div>

            </form>

        </div> <!-- /container -->
    </div>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../assets/lib/bootstrap/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
<!-- jQuery -->
<script src="../assets/lib/jquery/jquery.js"></script>
<!-- jQuery UI-->
<script src="../assets/lib/jquery/jquery-ui.min.js"></script>
<!-- Block UI -->
<script src="../assets/lib/block-ui/jquery.blockUI.js"></script>
<!-- spapp -->
<script src="../assets/common/js/spapp.js"></script>

<script type="text/javascript">

    var JobID = getParameterByName("JobID").toUpperCase();
    var bReviewAdded = false;
    var JobListDisplayMode = true;

</script>

<script src="../assets/common/js/angApp.js"></script>
<script src="../assets/common/js/angJobListCtrl.js"></script>

<script type="text/javascript">

    app.controller('CreditCardListCtrl', function ($scope, $http) {

        var UserID = GetCookieItem("UserID");

        if (!UserID) {
            showAlert('Problem with Input.', 'SilentLogout();');
        }
        else
        {
            if (!JobID) {
                showAlert('Problem with Input.', 'SilentLogout();');
            }

        }


        if (GetCookieItem("cUserCCList").length == 0)
        {

            var uri = ServicePrefix + "/api/GetUserCreditCardList/?userid=" + UserID;

            $.get(uri).then(function (result)
            {
                if (!result)
                {
                    showAlert('returned no data');
                    return;
                }

                if (result.Status != "SUCCESS") {
                    showAlert(result.Message);
                    return;
                }

                UpdateCookieItem("CreditCardCount", result.Results.length);

                if (result.Results.length > 0)
                {
                    UpdateCookieItem("cUserCCList", JSON.stringify(result.Results));
                    $scope.CreditCardList = result.Results;
                }
                else
                {
                    showAlert("No credit card on file", "../profile/profilecreditcardeditor.html?creditcardid=0");
                }

            });
        }
        else
        {

            var ccList = JSON.parse(GetCookieItem("cUserCCList"));
            $scope.CreditCardList = ccList;
        }

        //var uri = ServicePrefix + "/api/GetUserCreditCardList/?userid=" + UserID.toString();

        //$http.get(uri).then(function (result) {

        //    if (!result) {
        //        showAlert('returned no data');
        //        return;
        //    }

        //    if (result.data.Status != "SUCCESS") {
        //        showAlert(result.data.Message);
        //        
        //        return;
        //    }

        //    if (result.data.Results.length > 0)
        //    {
        //        $scope.CreditCardList = result.data.Results;
        //    } else {
	    //        showAlert("No credit card on file", "../profile/profilecreditcardeditor.html?creditcardid=0");
        //    }


        //});

        $scope.ChangeLabelColor = function (classname, idname, val) {
            $('input[name="radCC"][value="' + val + '"]').prop('checked', true);

            idname = classname + idname.toString();
            setDefaultCC(classname, idname, val);
        }

    });

    $(document).ready(function ()
    {
        $(".btn-menu-right").addClass("btn-menu-right-save");
        $(".btn-menu-right").removeClass("btn-menu-right");
        if (CheckLogin() == true)
        {
            BuildCommonUI();
            //$("#messageHeading").html("Tip");
            $("#divUserName").html(user.FirstName + " " + user.LastName);

            //if (bDisplayPage == true) {
                $(".appcontainer").show();
            //}
            //else {
            //    setTimeout(ReleasePage, 1000);
            //}

        }
    });

    function setDefaultCC(classname, idname, val)
    {
        $("." + classname).html(GetCheckMark(23, "unselected-silver"));
        //$("." + classname).addClass('resetRadioButton');


        //$("#" + idname).removeClass('resetRadioButton');
        $("#" + idname).html(GetCheckMark(23, "joiful-selected"));
    }
    function Validation()
    {

        blockUI();

        //-----------------------------------------
        // Add Validation for the CreditCard ID
        // -----------------------------------------
        if ($("#txtGratuityAmount").val().length == 0)
        {
            showAlert('Please enter an amount for your Tip.');
            return false;
        }
        else if (!$.isNumeric($("#txtGratuityAmount").val()))
        {
            showAlert('Wrong format for Tip. Only numbers accepted.');
            return false;
   	    }
        else
        {
            if (!$("input[name='creditCard']:checked").val())
            {
	        	showAlert('No credit card selected.');
				return false;
            }
            else
            {
				APICallUpdate();
				return true;
            }
        }
    }

    function APICallUpdate() {

        var uri = ServicePrefix + '/api/updateTip/';

        var postData = {
            jobid: JobID,
            userid: user.UserID,
            creditcardid:RemoveTags($('input[name=creditCard]:checked', '.form-signin').val()),
            tipamount: RemoveTags($("#txtGratuityAmount").val())
        }

        $.ajax(
               {
                   data: postData,
                   dataType: "json",
                   url: uri,
                   method: "POST",
                   success: APIUpdateSuccess,
                   error: APIUpdateError
               });
	}

    function Done()
    {
        SendUserHome();
    }
    function Save()
    {
        Validation();
    }

    function APIUpdateSuccess(result)
    {

      if (result == null) {
	      showAlert('returned no data');
	      return;
      }

      if (result.Status != "SUCCESS") {
	      showAlert(result.Message);
	      
	      return;
      }
      else
      {
            if (bReviewAdded==false)
	        {
	          showConfirm("Tip has been added!<br><br>Would you like to add a review?", "Yes", "Not right now", "SendToReviewPage();", "SendUserHome();");
	        }
	        else
	        {
	          showAlert("", "SendUserHome();");
	        }
      }

    }

    function APIUpdateError(result, textStatus, err)
    {
        showAlert(err);
        return;
    }

    function SendToReviewPage()
    {
      window.location = "../cart/cartreview.html?provider=false&jobid=" + JobID;
    }


</script>
